name: Elixir
on: push
env:
  VIPS_VERSION: 8.10.2
jobs:
  linux:
    runs-on: ubuntu-latest
    name: Linux OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        otp: [22.2]
        elixir: [1.9.4]
    steps:
      - uses: actions/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - name: Checkout vix
        uses: actions/checkout@v2
      - name: Install vips dependencies
        run: sudo apt-get install git build-essential libxml2-dev libfftw3-dev libmagickwand-dev libopenexr-dev liborc-0.4-0 gobject-introspection libgsf-1-dev libglib2.0-dev liborc-0.4-dev curl
      - name: Cache vips
        uses: actions/cache@v2
        id: vips-cache
        with:
          path: vips
          key: ${{ runner.os }}-vips-${{ env.VIPS_VERSION }}
      - name: Download and compile vips
        if: steps.vips-cache.outputs.cache-hit != 'true'
        run: |
          mkdir vips
          curl -L https://github.com/libvips/libvips/releases/download/v${{ env.VIPS_VERSION }}/vips-${{ env.VIPS_VERSION }}.tar.gz | tar xzC vips --strip-components=1
          cd vips
          ./configure
          make
      - name: Install vips
        run: |
          cd vips
          sudo make install
          sudo ldconfig -v
      - name: Install Dependencies
        run: mix deps.get
      - name: Compile
        run: mix compile --force --warnings-as-errors
      - name: Check format
        run: mix format --check-formatted
      - name: Run Tests
        run: mix test
